{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": false,
          "targets": "last 15 versions"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@modules": "./src/modules",
          "@components": "./src/components",
          "@hooks": "./src/hooks",
          "@utils": "./src/utils",
          "@model": "./src/model",
          "@HOC": "./src/HOC"
        }
      }
    ]
  ]
}
